<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRC-32 | CRYPTO MODULE</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
    </nav>

    <h1>CRC-32</h1>

    <ul class="type-dot">
      <li>hash 생성 단방향 암호화 : CRC-32</li>
      <li>hash 생성만 가능</li>
      <li>같은 평문에 대해 같은 hash 생성됨</li>
    </ul>

    <div class="encryption">
      <h3>Encryption</h3>
      <div class="ipt-block">
        <label for="IPT_EN_PLAIN">PLAIN : </label>
        <input type="text" name="iptEnPlain" id="IPT_EN_PLAIN" placeholder="평문을 입력하세요" autocomplete="off" />
      </div>
      <button class="btn btn-plain">SET HASH</button>
      HASH : <span class="hash"></span>
    </div>
  </body>
</html>
