<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebCrypto | CRYPTO MODULE</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
    </nav>

    <h1>WebCrypto</h1>
    <br />

    <h2>WebCrypto API로 가능한 암호화 패턴</h2>
    <ul class="type-dot">
      <li>대칭키 암호화 : AES-CBC, AES-GCM, AES-CTR, AES-KW 등</li>
      <li>비대칭키 암호화 : RSA-OAEP, RSA-PSS, ECDSA, ECDH 등</li>
      <li>해시 : SHA-1, SHA-256, SHA-384, SHA-512</li>
      <li>HMAC : HMAC-SHA-256 등</li>
    </ul>

    <br />
    <h3>대칭키 암호화</h3>
    <nav>
      <a href="/AES_GCM">AES-GCM</a>
    </nav>

    <br />
    <h3>비대칭키 암호화</h3>
    <nav>
      <a href="/RSA_OAEP">RSA-OAEP</a>
    </nav>
  </body>
</html>
