ul {
  &.type-dot {
    padding: 0 0 0 10px;
  }
}

.secretKey,
.encryption,
.decryption {
  box-sizing: border-box;
  padding: 0 10px;
  margin: 30px 0 0 0;
}

.secretKey {
  select {
    margin: 10px 0 0 0;
  }
}

.encryption {
  .hash {
    user-select: all;
    word-break: break-all;
    margin-top: 10px;
  }
}

.decryption {
}
