<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMAGE TO BASE64 | CRYPTO MODULE</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
    </nav>

    <h1>IMAGE TO BASE64</h1>

    <ul class="type-dot">
      <li>이미지(ex. jepg)를 base64 기반의 text로 변환</li>
    </ul>

    <div class="encode">
      <input type="file" id="fileInput" accept="image/jpeg" />
      <div class="code-block">
        <pre id="output"></pre>
      </div>
    </div>
  </body>
</html>
