<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BCRYPTJS | CRYPTO MODULE</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
    </nav>

    <h1>BCRYPTJS</h1>
    <br />

    <div class="encryption">
      <h3>Encryption</h3>
      <p class="ipt-block plain">
        <label for="IPT_EN_PLAIN">PLAIN :</label>
        <input type="text" name="iptEnPlain" id="IPT_EN_PLAIN" autocomplete="off" />
      </p>
      <button class="btn btn-plain">SET HASH</button>
      <p class="hash">HASH : <span></span></p>
    </div>

    <br /><br />

    <div class="decryption">
      <h3>Decryption</h3>
      <p class="ipt-block chiper">
        <label for="IPT_CHIPER">CHIPER :</label>
        <input type="text" name="iptChiper" id="IPT_CHIPER" autocomplete="off" />
      </p>
      <p class="ipt-block plain">
        <label for="IPT_DE_PLAIN">PLAIN :</label>
        <input type="text" name="iptDePlain" id="IPT_DE_PLAIN" autocomplete="off" />
      </p>
      <p class="isMatch">
        <button class="btn btn-match">MATCH</button>
        <br />
        <span></span>
      </p>
    </div>
  </body>
</html>
